@media all and (min-width:2000px){
.body{
    background-color: rgb(130, 255, 182);
    font-family: Arial;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.container
{
margin-left: auto;
margin-right: auto;
width: 80%;
min-height:100%;
position:relative;
}
.footer {
background-color: rgb(237, 152, 78); text-align: center;
font-size: 30px;
bottom: 0;
width: 100%;
padding: 20px 0px 20px 0px;
height: 100px;
position: relative;
}

.tresc{
    background-color: rgb(0, 255, 98);
}
.na_tle{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: rgba(7, 131, 189, 0.5);
    height: 440px;
    float:left;
}
.na_tle_tekst{
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 0px;
    padding: 0px;
    height:440px;
    float:left;
}
.zdjecie_tlo {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
.tlo {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 200px;
    background: #CFD5DE url(zdjecia/niebo.jpg) no-repeat center center fixed;
    background-size:cover
}
.header {
    /*background-color: rgb(216, 32, 25); */
    background-image: linear-gradient(to top, #97f3ff 0%, #0fe6e6 100%);
    color:rgb(70, 70, 69);
    text-align: center;
    margin-left: 0;
    margin-right:0;
    padding: 0px;
    margin-top: 0px;
    font-size: 40px;
    height: 200px;
}


h2{
    color: brown;
    font-size: 30px;
}

h3{
    color: brown;
    font-size: 20px;
}
h4{
    color: brown;
    font-size: 50px;
    text-align: center;
}

.form-group {
    color: brown;
    font-size: 20px;
}

.wylogowanie{
    margin-right: 0px;
    text-align: right;
    float: right;
    width: 40%;
}

.powrot{
    margin-left: 0px;
    margin-top: 20px;
    text-align: left;
    float: left;
    font-size: 40px;
    color: rgb(16, 221, 64);
    background-color: white;
    
}
.powrot:hover{
    background-color: rgb(210, 248, 128);
}
.tilelink2{
    background-color: white;
    text-decoration: none;
    float: right;
    margin-left: 10px;
    color: rgb(16, 221, 64);
}
.tilelink2:hover{
    background-color: rgb(210, 248, 128);
}
.surowce{
    background-color: rgb(205, 243, 248); 
    width: 100%;
    height: 80px;
    margin:0px;
    padding: 0px;

}

.surowiec{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    padding: 0px;
}

.surowiec > li
{
    text-align: center;
    float: left;
	height: 50px;
    width:20%
}

.koszty{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
    width: 65%;
}
.koszty > li
{
    text-align: center;
    float: left;
	height: 40px;
    width:20%;
}
.koszty_d{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
    width: 65%;
}
.koszty_d > li
{
    text-align: center;
    float: left;
	height: 40px;
    width:19%;
}
.koszty_l{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
    width: 60%;
}
.koszty_l > li
{
    text-align: center;
    float: left;
	height: 40px;
    width:30%;
}
.koszty_d > li:last-child
{
    text-align: center;
    float: left;
	height: 40px;
    width:23%;
}
.przesyl_wojska{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
    width: 65%;
}
.przesyl_wojska > li
{
    text-align: center;
    float: left;
	height: 40px;
    width:50%;
}

.koszty_w{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin-left:auto;
    margin-right: auto;
    width: 85%;
}
.koszty_w > li
{
    text-align: center;
    float: left;
	height: 40px;
    width:20%;
}
.koszty_w > li:last-child{
    text-align: center;
    float: left;
	height: 40px;
    width:20%;
}
.wiersz{
    background-color: white;
    width:100%; 
    aspect-ratio: 20 / 1;
}
.pole{
    width: 4.6%;
    margin: 0.2%;
    background-color: green;
    padding: 0px;
    float: left;
    aspect-ratio: 1 / 1;
}

.pole:hover{
    width: 4.6%;
    margin: 0.2%;
    background-color: rgb(9, 248, 9);
    padding: 0px;
    float: left;
    aspect-ratio: 1 / 1;
}

.pole2{
    width: 4.6%;
    margin: 0.2%;
    background-color: green;
    padding: 0px;
    float: left;
    aspect-ratio: 1 / 1;
}

.przeciwnik{
    width: 4.6%;
    margin: 0.2%;
    background-color: red;
    padding: 0px;
    float: left;
    aspect-ratio: 1 / 1;
}

.aktualna{
    width: 4.6%;
    margin: 0.2%;
    background-color: rgb(255, 255, 0);
    padding: 0px;
    float: left;
    aspect-ratio: 1 / 1;
}

.przeciwnik:hover{
    width: 4.6%;
    margin: 0.2%;
    background-color: rgb(238, 134, 134);
    padding: 0px;
    float: left;
    aspect-ratio: 1 / 1;
}

.przeciwnik2{
    width: 4.6%;
    margin: 0.2%;
    background-color: red;
    padding: 0px;
    float: left;
    aspect-ratio: 1 / 1;
}

.moja{
    width: 4.6%;
    margin: 0.2%;
    background-color: rgb(28, 77, 237);
    padding: 0px;
    float: left;
    aspect-ratio: 1 / 1;
}
.moja:hover{
    width: 4.6%;
    margin: 0.2%;
    background-color: rgb(72, 217, 236);
    padding: 0px;
    float: left;
    aspect-ratio: 1 / 1;
}

.moja2{
    width: 4.6%;
    margin: 0.2%;
    background-color: rgb(28, 77, 237);
    padding: 0px;
    float: left;
    aspect-ratio: 1 / 1;
}

.populacja{
    float:left;
    width: 40%;
}
.populacja2{
    float:left;
    width: 60%;
}
.budynek{
    width: 100%-50px;
    background-color: rgb(189, 244, 215);
    height: 200px;
    color: brown;
    font-size: 40px;
    padding-top: 0px;
    padding-left: 50px;
    margin-top: 40px;
}
.budynek:hover{
    background-color: rgb(201, 249, 112);
}

.budynek_budowa{
    width: 100%-50px;
    background-color: rgb(189, 244, 215);
    height: 60px;
    color: rgb(36, 6, 6);
    font-size: 30px;
    padding-top: 0px;
    padding-left: 50px;
    margin-top: 20px;
}
.wojsko_atak{
    width: 100%-50px;
    background-color: rgb(189, 244, 215);
    height: 60px;
    color: rgb(36, 6, 6);
    font-size: 30px;
    padding-top: 0px;
    padding-left: 50px;
    margin-top: 20px;
}
.budynek_zbudowany{
    width: 100%-50px;
    background-color: rgb(46, 235, 13);
    height: 60px;
    color: rgb(36, 6, 6);
    font-size: 30px;
    padding-top: 20px;
    padding-left: 50px;
    margin-top: 20px;
}

.budowa{
    float:right;
    padding:13px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: green;
    height: 100%-10px;
    width:8%;
}
.budowa2{
    float:right;
    padding:13px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: green;
    height: 100%-10px;
    width:15%;
}

.wojsko_ramka{
    text-align: center;
    background-color: rgb(6, 235, 113);
    padding: 0px;
    font-size: 30px;
    margin-top: 20px;
}
.budowa:hover{
    background-color: rgb(210, 248, 128);
}

.budowa2:hover{
    background-color: rgb(210, 248, 128);
}
#zywnosc{
    width: 100%;
    color:red;
}
#drewno{
    width: 100%;
    color:rgb(168, 71, 10);
}
#kamien{
    width: 100%;
    color:rgb(22, 22, 22);
}
#metal{
    width: 100%;
    color:rgb(157, 157, 157);
}
#zl{
    width: 100%;
    color:rgb(228, 194, 0);
}

.era{
    float:right;
    padding:13px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    color: green;
    height: 100%-10px;
    width:20%;
}

.b_opis{
    margin: 0px;
    padding-left: 20px;
    width: 40%;
    float: left;
    margin-top: 30px;
}
.b_budowa{
    margin: 0px;
    padding-left: 20px;
    width: 20%;
    float: left;
    margin-top: 10px;
}
.m_budowa{
    margin: 0px;
    padding-left: 20px;
    width: 12%;
    float: left;
    margin-top: 10px;
}

.b_budowa2{
    margin: 0px;
    padding-left: 20px;
    width: 60%;
    float: left;
    margin-top: 10px;
}

.b_budowa3{
    margin: 0px;
    padding-left: 0px;
    width: 30%;
    float: left;
    margin-top: 15px;
    font-size: 20px;
}

.b_podsumowanie{
    margin: 0px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 60px;
    color: rgb(251, 233, 36);
    background-color: rgb(16, 154, 53);
}

#domy_ilosc{
    float: left;
}

#bloki_ilosc{
    float: left;
}

.zdjecie{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.zdjecie2{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.zdjecie_j{
    margin-right: 0px;;
}

.nazdjecie{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.zdjecie_b{
    height: 100%;
    margin-right: 0px;
    float:right
}

.nazwa_budynku{
    color: brown;
    font-size: 50px;
    text-align: center;
}

.naglowek{
    color: brown;
    font-size: 50px;
    text-align: center;
}

#zegar{
    color: brown;
    width: 100%;
    font-size: 50px;
    text-align: right;
    background-color: white;
    margin-top: 30px;
}

.tworzenie{
    color: rgb(42, 165, 50);
    width: 30%;
    font-size: 50px;
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}
.tworzenie:hover{
    background-color: rgb(210, 248, 128);
}
.mecz{
    color: rgb(42, 165, 50);
    width: 30%;
    font-size: 40px;
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-bottom: 15px;
}

.mecz:hover{
    color: rgb(42, 165, 50);
    width: 30%;
    font-size: 40px;
    text-align: center;
    background-color: rgb(210, 248, 128);
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-bottom: 15px;
}

.uzytkownik_meczu{
    color: rgb(42, 165, 50);
    width: 30%;
    font-size: 40px;
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-bottom: 15px;
}

.uzytkownik_meczu2{
    color: rgb(3, 121, 32);
    width: 30%;
    font-size: 40px;
    text-align: center;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-bottom: 15px;
}

.uzytkownik_meczu:hover{
    color: rgb(42, 165, 50);
    width: 30%;
    font-size: 40px;
    text-align: center;
    background-color: rgb(210, 248, 128);
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
 }

 .objasnienia{
    width: 100%;
    color: brown;
    font-size: 30px;
    text-align: center;
    padding: 0px 50px 50px 0px;
 }

 .ramka{
    width: 100%;
    background-color: greenyellow;
    padding: 20px 20px 20px 0px;
    margin-bottom: 20px;
 }

 .jednostka{
    width: 100%;
    aspect-ratio: 3 / 1;
    background-color: rgb(255, 255, 255);

 }

 .jednostka_pojemnik{
    height: 100%;
    width: 30%;
    float: left;
    padding: 0px;
 }

 .jednostka_tytul{
    padding: 20px;
    font-size: 40px;
    color: blue;
 }

 .jednostka_opis{
    padding: 6px;
    font-size: 25px;
    color: blue;
 }

 .jednostka_zdjecie{
    height: 100%;
    padding: 0px;
    margin: 0px;
    float: right;
 }

.tabela_bitwa{
    background-color: rgb(157, 216, 236);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.jednostka_ramka{
    font-size: 25px;
    float:left;
    padding:10px;
    width:30%;
    height: 45px;
    text-align: center;
    color: brown;
}


.koniec{
    clear:both;
}




}












@media all and (min-width:1000px) and (max-width:1999px){
    .body{
        background-color: rgb(130, 255, 182);
        font-family: Arial;
        height: 100vh;
        margin: 0px;
        padding: 0px;
    }
    
    .container
    {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height:100%;
    position:relative;
    }
    .footer {
    background-color: rgb(237, 152, 78); text-align: center;
    font-size: 30px;
    bottom: 0;
    width: 100%;
    padding: 20px 0px 20px 0px;
    height: 100px;
    position: relative;
    }
    
    .tresc{
        background-color: rgb(0, 255, 98);
    }
    .na_tle{
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: rgba(7, 131, 189, 0.5);
        height: 440px;
        float:left;
    }
    .na_tle_tekst{
        margin-left: 50px;
        margin-right: 0px;
        margin-top: 0px;
        padding: 0px;
        height:440px;
        float:left;
    }
    .zdjecie_tlo {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
    }
    .tlo {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 200px;
        background: #CFD5DE url(zdjecia/niebo.jpg) no-repeat center center fixed;
        background-size:cover
    }
    .header {
        /*background-color: rgb(216, 32, 25); */
        background-image: linear-gradient(to top, #97f3ff 0%, #0fe6e6 100%);
        color:rgb(70, 70, 69);
        text-align: center;
        margin-left: 0;
        margin-right:0;
        padding: 0px;
        margin-top: 0px;
        font-size: 30px;
        height: 200px;
    }
    
    
    h2{
        color: brown;
        font-size: 20px;
    }
    
    h3{
        color: brown;
        font-size: 20px;
    }
    h4{
        color: brown;
        font-size: 30px;
        text-align: center;
    }
    
    .form-group {
        color: brown;
        font-size: 15px;
    }
    
    .wylogowanie{
        margin-right: 0px;
        text-align: right;
        float: right;
        width: 40%;
    }
    
    .powrot{
        margin-left: 0px;
        margin-top: 20px;
        text-align: left;
        float: left;
        font-size: 30px;
        color: rgb(16, 221, 64);
        background-color: white;
        
    }
    .powrot:hover{
        background-color: rgb(210, 248, 128);
    }
    .tilelink2{
        background-color: white;
        text-decoration: none;
        float: right;
        margin-left: 10px;
        color: rgb(16, 221, 64);
    }
    .tilelink2:hover{
        background-color: rgb(210, 248, 128);
    }
    .surowce{
        background-color: rgb(205, 243, 248); 
        width: 100%;
        height: 80px;
        margin:0px;
        padding: 0px;
    
    }
    
    .surowiec{
        display: inline-block;
        text-align: center;
        font-size: 15px;
        margin-left:auto;
        margin-right: auto;
        width: 100%;
        padding: 0px;
    }
    
    .surowiec > li
    {
        text-align: center;
        float: left;
        height: 50px;
        width:20%
    }
    
    .koszty{
        display: inline-block;
        text-align: center;
        font-size: 15px;
        margin-left:auto;
        margin-right: auto;
        width: 72%;
        margin-bottom: 0px;
    }
    .koszty > li
    {
        text-align: center;
        float: left;
        height: 40px;
        width:24%;
    }
    .koszty_d{
        display: inline-block;
        text-align: center;
        font-size: 15px;
        margin-left:auto;
        margin-right: auto;
        width: 80%;
        margin-bottom: 0px;
    }
    .koszty_d > li
    {
        text-align: left;
        float: left;
        height: 40px;
        width:16%;
    }
    .koszty_d > li:last-child
    {
        text-align: center;
        float: left;
        height: 40px;
        width:35%;
    }
    .koszty_l{
        display: inline-block;
        text-align: center;
        font-size: 15px;
        margin-left:auto;
        margin-right: auto;
        width: 60%;
        margin-bottom: 0px;
    }
    .koszty_l > li
    {
        text-align: center;
        float: left;
        height: 40px;
        width:30%;
    }
    .przesyl_wojska{
        display: inline-block;
        text-align: center;
        font-size: 15px;
        margin-left:auto;
        margin-right: auto;
        width: 65%;
    }
    .przesyl_wojska > li
    {
        text-align: center;
        float: left;
        height: 40px;
        width:50%;
    }
    
    .koszty_w{
        display: inline-block;
        text-align: center;
        font-size: 15px;
        margin-left:0px;
        margin-right: auto;
        width: 95%;
        margin-bottom: 0px;
    }
    .koszty_w > li
    {
        text-align: center;
        float: left;
        height: 40px;
        width:18%;
    }
    .koszty_w > li:last-child{
        text-align: center;
        float: left;
        height: 40px;
        width:25%;
    }
    .wiersz{
        background-color: white;
        width:100%; 
        aspect-ratio: 20 / 1;
    }
    .pole{
        width: 4.6%;
        margin: 0.2%;
        background-color: green;
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .pole:hover{
        width: 4.6%;
        margin: 0.2%;
        background-color: rgb(9, 248, 9);
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .pole2{
        width: 4.6%;
        margin: 0.2%;
        background-color: green;
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .przeciwnik{
        width: 4.6%;
        margin: 0.2%;
        background-color: red;
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .aktualna{
        width: 4.6%;
        margin: 0.2%;
        background-color: rgb(255, 255, 0);
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .przeciwnik:hover{
        width: 4.6%;
        margin: 0.2%;
        background-color: rgb(238, 134, 134);
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .przeciwnik2{
        width: 4.6%;
        margin: 0.2%;
        background-color: red;
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .moja{
        width: 4.6%;
        margin: 0.2%;
        background-color: rgb(28, 77, 237);
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    .moja:hover{
        width: 4.6%;
        margin: 0.2%;
        background-color: rgb(72, 217, 236);
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .moja2{
        width: 4.6%;
        margin: 0.2%;
        background-color: rgb(28, 77, 237);
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .populacja{
        float:left;
        width: 40%;
    }
    .populacja2{
        float:left;
        width: 60%;
    }
    .budynek{
        width: 100%-50px;
        background-color: rgb(189, 244, 215);
        height: 200px;
        color: brown;
        font-size: 40px;
        padding-top: 0px;
        padding-left: 50px;
        margin-top: 40px;
    }
    .budynek:hover{
        background-color: rgb(201, 249, 112);
    }
    .budynek_budowa{
        width: 100%-50px;
        background-color: rgb(189, 244, 215);
        height: 60px;
        color: rgb(36, 6, 6);
        font-size: 20px;
        padding-top: 0px;
        padding-left: 10px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .wojsko_atak{
        width: 100%-50px;
        background-color: rgb(189, 244, 215);
        height: 60px;
        color: rgb(36, 6, 6);
        font-size: 20px;
        padding-top: 0px;
        padding-left: 10px;
        margin-top: 20px;
    }
    .budynek_zbudowany{
        width: 100%-50px;
        background-color: rgb(46, 235, 13);
        height: 60px;
        color: rgb(36, 6, 6);
        font-size: 20px;
        padding-top: 20px;
        padding-left: 50px;
        margin-top: 20px;
    }
    
    .budowa{
        
        padding:10px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: green;
        height: 100%-10px;
        width:30%;
        margin-left:auto;
        margin-right: auto;

    }
    .budowa2{
        
        padding:10px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: green;
        height: 100%-10px;
        width:30%;
        margin-left:auto;
        margin-right: auto;

    }
    
    .wojsko_ramka{
        text-align: center;
        background-color: rgb(6, 235, 113);
        padding: 0px;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 80px;
    }
    .budowa:hover{
        background-color: rgb(210, 248, 128);
    }
    .budowa2:hover{
        background-color: rgb(210, 248, 128);
    }
    #zywnosc{
        width: 100%;
        color:red;
    }
    #drewno{
        width: 100%;
        color:rgb(168, 71, 10);
    }
    #kamien{
        width: 100%;
        color:rgb(22, 22, 22);
    }
    #metal{
        width: 100%;
        color:rgb(157, 157, 157);
    }
    #zl{
        width: 100%;
        color:rgb(228, 194, 0);
    }
    
    .era{
        float:right;
        padding: 15px 10px 0px 10px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: green;
        height: 45px;
        width:20%;
    }
    
    .b_opis{
        margin: 0px;
        padding-left: 10px;
        padding-right: 0px;
        width: 30%;
        float: left;
        margin-top: 30px;
    }
    .b_budowa{
        margin: 0px;
        padding-left: 20px;
        width: 20%;
        float: left;
        margin-top: 10px;
    }
    .m_budowa{
        margin: 0px;
        padding-left: 20px;
        width: 12%;
        float: left;
        margin-top: 10px;
    }
    
    .b_budowa2{
        margin: 0px;
        padding-left: 20px;
        width: 60%;
        float: left;
        margin-top: 10px;
    }
    
    .b_budowa3{
        margin: 0px;
        padding-left: 0px;
        width: 30%;
        float: left;
        margin-top: 15px;
        font-size: 18px;
    }
    
    .b_podsumowanie{
        margin: 0px;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 60px;
        color: rgb(251, 233, 36);
        background-color: rgb(16, 154, 53);
    }
    
    #domy_ilosc{
        float: left;
    }
    
    #bloki_ilosc{
        float: left;
    }
    
    .zdjecie{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .zdjecie2{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    .zdjecie_j{
        margin-right: 0px;;
    }
    
    .nazdjecie{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .zdjecie_b{
        height: 100%;
        margin-right: 0px;
        float:right
    }
    
    .nazwa_budynku{
        color: brown;
        font-size: 40px;
        text-align: center;
    }
    
    .naglowek{
        color: brown;
        font-size: 40px;
        text-align: center;
    }
    
    #zegar{
        color: brown;
        width: 100%;
        font-size: 40px;
        text-align: right;
        background-color: white;
        margin-top: 30px;
    }
    
    .tworzenie{
        color: rgb(42, 165, 50);
        width: 30%;
        font-size: 30px;
        text-align: center;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
    }
    .tworzenie:hover{
        background-color: rgb(210, 248, 128);
    }
    .mecz{
        color: rgb(42, 165, 50);
        width: 30%;
        font-size: 30px;
        text-align: center;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-bottom: 15px;
    }
    
    .mecz:hover{
        color: rgb(42, 165, 50);
        width: 30%;
        font-size: 30px;
        text-align: center;
        background-color: rgb(210, 248, 128);
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-bottom: 15px;
    }
    
    .uzytkownik_meczu{
        color: rgb(42, 165, 50);
        width: 30%;
        font-size: 30px;
        text-align: center;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-bottom: 15px;
    }
    
    .uzytkownik_meczu2{
        color: rgb(3, 121, 32);
        width: 30%;
        font-size: 30px;
        text-align: center;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-bottom: 15px;
    }
    
    .uzytkownik_meczu:hover{
        color: rgb(42, 165, 50);
        width: 30%;
        font-size: 30px;
        text-align: center;
        background-color: rgb(210, 248, 128);
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-bottom: 15px;
    }
    
    a {
        text-decoration: none;
     }
    
     .objasnienia{
        width: 100%;
        color: brown;
        font-size: 20px;
        text-align: center;
        padding: 0px 50px 50px 0px;
     }
    
     .ramka{
        width: 100%;
        background-color: greenyellow;
        padding: 10px 10px 10px 0px;
        margin-bottom: 20px;
     }
    
     .jednostka{
        width: 100%;
        aspect-ratio: 3 / 1;
        background-color: rgb(255, 255, 255);
    
     }
    
     .jednostka_pojemnik{
        height: 100%;
        width: 30%;
        float: left;
        padding: 0px;
     }
    
     .jednostka_tytul{
        padding: 20px;
        font-size: 30px;
        color: blue;
     }
    
     .jednostka_opis{
        padding: 6px;
        font-size: 20px;
        color: blue;
     }
    
     .jednostka_zdjecie{
        height: 100%;
        padding: 0px;
        margin: 0px;
        float: right;
     }
     .tabela_bitwa{
        background-color: rgb(157, 216, 236);
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .jednostka_ramka{
        font-size: 20px;
        float:left;
        padding:10px;
        width:30%;
        height: 45px;
        text-align: center;
        color: brown;
    }
    .koniec{
        clear:both;
    }
    }




    








@media all and (max-width:999px){
    .body{
        background-color: rgb(130, 255, 182);
        font-family: Arial;
        height: 100vh;
        margin: 0px;
        padding: 0px;
    }
    
    .container
    {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height:100%;
    position:relative;
    }
    .footer {
    background-color: rgb(237, 152, 78); text-align: center;
    font-size: 30px;
    bottom: 0;
    width: 100%;
    padding: 20px 0px 20px 0px;
    height: 100px;
    position: relative;
    }
    
    .tresc{
        background-color: rgb(0, 255, 98);
    }
    .na_tle{
        margin: 0px;
        padding: 0px;
        width: 100%;
        background-color: rgba(7, 131, 189, 0.5);
        height: 440px;
        float:left;
    }
    .na_tle_tekst{
        margin-left: 50px;
        margin-right: 0px;
        margin-top: 0px;
        padding: 0px;
        height:440px;
        float:left;
    }
    .zdjecie_tlo {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
    }
    .tlo {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 200px;
        background: #CFD5DE url(zdjecia/niebo.jpg) no-repeat center center fixed;
        background-size:cover
    }
    .header {
        /*background-color: rgb(216, 32, 25); */
        background-image: linear-gradient(to top, #97f3ff 0%, #0fe6e6 100%);
        color:rgb(70, 70, 69);
        text-align: center;
        margin-left: 0;
        margin-right:0;
        padding: 0px;
        margin-top: 0px;
        font-size: 30px;
        height: 200px;
    }
    
    
    h2{
        color: brown;
        font-size: 20px;
    }
    
    h3{
        color: brown;
        font-size: 20px;
    }
    h4{
        color: brown;
        font-size: 30px;
        text-align: center;
    }
    
    .form-group {
        color: brown;
        font-size: 15px;
    }
    
    .wylogowanie{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        width: 80%;
    }
    
    .powrot{
        margin-left: 0px;
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
        color: rgb(16, 221, 64);
        background-color: white;
        
    }
    .powrot:hover{
        background-color: rgb(210, 248, 128);
    }
    .tilelink2{
        background-color: white;
        text-decoration: none;
        margin-left: 10px;
        color: rgb(16, 221, 64);
    }
    .tilelink2:hover{
        background-color: rgb(210, 248, 128);
    }
    .surowce{
        background-color: rgb(205, 243, 248); 
        width: 100%;
        height: 260px;
        margin:0px;
        padding: 0px;
    
    }
    
    .surowiec{
        text-align: center;
        font-size: 15px;
        margin-left:auto;
        margin-right: auto;
        width: 100%;
        padding: 0px;
    }
    
    .surowiec > li
    {
        text-align: center;
        height: 50px;
        width:100%
    }
    
    .koszty{
        text-align: center;
        font-size: 15px;
        margin-left:auto;
        margin-right: auto;
        width: 90%;
        margin-bottom: 0px;
    }
    .koszty > li
    {
        text-align: center;
        height: 40px;
        width:100%;
    }
    .koszty_d{
        text-align: center;
        font-size: 15px;
        margin-left:auto;
        margin-right: auto;
        width: 90%;
        margin-bottom: 0px;
    }
    .koszty_d > li
    {
        text-align: left;
        height: 40px;
        width:90%;
    }
    .koszty_d > li:last-child
    {
        text-align: center;
        height: 40px;
        width:80%;
    }
    .koszty_l{
        text-align: center;
        font-size: 15px;
        margin-left:auto;
        margin-right: auto;
        width: 90%;
        margin-bottom: 0px;
    }
    .koszty_l > li
    {
        text-align: center;
        height: 40px;
        width:80%;
    }
    .przesyl_wojska{
        text-align: center;
        font-size: 15px;
        margin-left:auto;
        margin-right: auto;
        width: 95%;
    }
    .przesyl_wojska > li
    {
        text-align: center;
        height: 40px;
        width:80%;
    }
    
    .koszty_w{
        text-align: center;
        font-size: 15px;
        margin-left:0px;
        margin-right: 0px;
        width: 100%;
        margin-bottom: 0px;
    }
    .koszty_w > li
    {
        text-align: center;
        height: 40px;
        width:100%;
    }
    .koszty_w > li:last-child{
        text-align: center;
        height: 40px;
        width:100%;
    }
    .wiersz{
        background-color: white;
        width:100%; 
        aspect-ratio: 20 / 1;
    }
    .pole{
        width: 4.6%;
        margin: 0.2%;
        background-color: green;
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .pole:hover{
        width: 4.6%;
        margin: 0.2%;
        background-color: rgb(9, 248, 9);
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .pole2{
        width: 4.6%;
        margin: 0.2%;
        background-color: green;
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .przeciwnik{
        width: 4.6%;
        margin: 0.2%;
        background-color: red;
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .aktualna{
        width: 4.6%;
        margin: 0.2%;
        background-color: rgb(255, 255, 0);
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .przeciwnik:hover{
        width: 4.6%;
        margin: 0.2%;
        background-color: rgb(238, 134, 134);
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .przeciwnik2{
        width: 4.6%;
        margin: 0.2%;
        background-color: red;
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .moja{
        width: 4.6%;
        margin: 0.2%;
        background-color: rgb(28, 77, 237);
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    .moja:hover{
        width: 4.6%;
        margin: 0.2%;
        background-color: rgb(72, 217, 236);
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .moja2{
        width: 4.6%;
        margin: 0.2%;
        background-color: rgb(28, 77, 237);
        padding: 0px;
        float: left;
        aspect-ratio: 1 / 1;
    }
    
    .populacja{
        width: 80%;
    }
    .populacja2{
        width: 80%;
    }
    .budynek{
        width: 100%-20px;
        background-color: rgb(189, 244, 215);
        color: brown;
        font-size: 40px;
        padding-top: 0px;
        margin-top: 40px;
    }
    .budynek:hover{
        background-color: rgb(201, 249, 112);
    }
    .budynek_budowa{
        width: 100%;
        background-color: rgb(189, 244, 215);
        color: rgb(36, 6, 6);
        font-size: 20px;
        padding-top: 0px;
        padding-left: 00px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 40px;
    }
    .wojsko_atak{
        width: 100%-50px;
        background-color: rgb(189, 244, 215);
        height: 60px;
        color: rgb(36, 6, 6);
        font-size: 20px;
        padding-top: 0px;
        padding-left: 10px;
        margin-top: 20px;
    }
    .budynek_zbudowany{
        width: 100%-50px;
        background-color: rgb(46, 235, 13);
        height: 60px;
        color: rgb(36, 6, 6);
        font-size: 20px;
        padding-top: 20px;
        padding-left: 50px;
        margin-top: 20px;
    }
    
    .budowa{
        
        padding:10px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: green;
        height: 100%-10px;
        width:80%;
        margin-left:auto;
        margin-right: auto;

    }
    .budowa2{
        
        padding:10px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: green;
        height: 100%-10px;
        width:80%;
        margin-left:auto;
        margin-right: auto;

    }
    
    .wojsko_ramka{
        text-align: center;
        background-color: rgb(6, 235, 113);
        padding: 0px;
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 80px;
    }
    .budowa:hover{
        background-color: rgb(210, 248, 128);
    }
    .budowa2:hover{
        background-color: rgb(210, 248, 128);
    }
    #zywnosc{
        width: 100%;
        color:red;
    }
    #drewno{
        width: 100%;
        color:rgb(168, 71, 10);
    }
    #kamien{
        width: 100%;
        color:rgb(22, 22, 22);
    }
    #metal{
        width: 100%;
        color:rgb(157, 157, 157);
    }
    #zl{
        width: 100%;
        color:rgb(228, 194, 0);
    }
    
    .era{
        padding:13px 0px 13px 0px;
        text-align: center;
        background-color: rgb(255, 255, 255);
        color: green;
        height: 100%-10px;
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .b_opis{
        margin: 0px;
        text-align: center;
        width: 100%;
        margin-top: 30px;
    }
    .b_budowa{
        margin: 0px;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .m_budowa{
        margin: 0px;
        width: 100%;
        margin-top: 10px;
    }
    
    .b_budowa2{
        margin: 0px;
        padding-left: 20px;
        width: 80%;
        margin-top: 10px;
    }
    
    .b_budowa3{
        margin: 0px;
        padding-left: 0px;
        width: 30%;
        margin-top: 15px;
        font-size: 18px;
    }
    
    .b_podsumowanie{
        margin: 0px;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        font-size: 60px;
        color: rgb(251, 233, 36);
        background-color: rgb(16, 154, 53);
    }
    
    #domy_ilosc{
    }
    
    #bloki_ilosc{
    }
    
    .zdjecie{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .zdjecie2{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .zdjecie_j{
        margin-right: 0px;;
    }
    
    .nazdjecie{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .zdjecie_b{
        width: 100%;
        margin-right: 0px;
    }
    
    .nazwa_budynku{
        color: brown;
        font-size: 40px;
        text-align: center;
    }
    
    .naglowek{
        color: brown;
        font-size: 40px;
        text-align: center;
    }
    
    #zegar{
        color: brown;
        width: 100%;
        font-size: 40px;
        text-align: right;
        background-color: white;
        margin-top: 30px;
    }
    
    .tworzenie{
        color: rgb(42, 165, 50);
        width: 80%;
        font-size: 30px;
        text-align: center;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
    }
    .tworzenie:hover{
        background-color: rgb(210, 248, 128);
    }
    .mecz{
        color: rgb(42, 165, 50);
        width: 80%;
        font-size: 30px;
        text-align: center;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-bottom: 15px;
    }
    
    .mecz:hover{
        color: rgb(42, 165, 50);
        width: 80%;
        font-size: 30px;
        text-align: center;
        background-color: rgb(210, 248, 128);
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-bottom: 15px;
    }
    
    .uzytkownik_meczu{
        color: rgb(42, 165, 50);
        width: 80%;
        font-size: 30px;
        text-align: center;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-bottom: 15px;
    }
    
    .uzytkownik_meczu2{
        color: rgb(3, 121, 32);
        width: 80%;
        font-size: 30px;
        text-align: center;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-bottom: 15px;
    }
    
    .uzytkownik_meczu:hover{
        color: rgb(42, 165, 50);
        width: 80%;
        font-size: 30px;
        text-align: center;
        background-color: rgb(210, 248, 128);
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        margin-bottom: 15px;
    }
    
    a {
        text-decoration: none;
     }
    
     .objasnienia{
        width: 100%;
        color: brown;
        font-size: 20px;
        text-align: center;
        padding: 0px 50px 50px 0px;
     }
    
     .ramka{
        width: 100%;
        background-color: greenyellow;
        padding: 10px 10px 10px 0px;
        margin-bottom: 20px;
     }
    
     .jednostka{
        width: 100%;
        background-color: rgb(255, 255, 255);
    
     }
    
     .jednostka_pojemnik{
        height: 100%;
        width: 90%;
        padding: 0px;
     }
    
     .jednostka_tytul{
        padding: 20px;
        font-size: 30px;
        color: blue;
     }
    
     .jednostka_opis{
        padding: 6px;
        font-size: 20px;
        color: blue;
     }
    
     .jednostka_zdjecie{
        width: 100%;
        padding: 0px;
        margin: 0px;
     }
     .tabela_bitwa{
        background-color: rgb(157, 216, 236);
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .jednostka_ramka{
        font-size: 20px;
        float:left;
        padding: 10px 0px 10px 0px;
        width:30%;
        height: 45px;
        text-align: center;
        color: brown;
    }
    .koniec{
        clear:both;
    }
    }